body {
	background: #1b0d0d;
    color: turquoise;
}
main{
	position: relative;
	display: block;
	text-align: left;
	margin: 0 auto;
	width: 800px;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #014d80;
	display: table;
	width: 100%;
}

nav li {
	display: table-cell
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 30px 30px;
	text-decoration: none;
}

li a:hover {
	background-color: rgb(17, 17, 17);
}

h2 a {
	padding: 33px 25px;
	color: white;
	text-decoration: none;
}

h2 a:hover {
	background-color: #111;
}
figure{
	margin:0px;
}
figcaption{
  text-align:left;
}

header {
	margin-left: 14px;
}

article {
	
	text-align: left;
	font-size: 18px;
	line-height: 32px;
}

img {
	width: 800px;

  position:relative;
  
}
p { 
	width: 800px;
}


footer {
	position: relative;
	width: 100%;
	bottom: -100px;
	background-color: #014d80;
}

footer p {
	color: white;
	text-decoration: none;
	padding: 10px;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
}

footer a {
	color: rgb(234, 220, 220);
	text-decoration: none;
	text-align: center;
	width: 100%;
}

